[Unit]
Description=Back up KATBUU warranty registrations

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/katbuu-warranty-backup
User=root
Group=root

